[data-id="overlay"]{
    all:initial;
    all:unset;
    border:1px solid purple;
    padding:.5em .5em;
    z-index:999999;
    background-color:rgba(255,255,255,.8);
    max-height:45vh;
    display: none;
}

[data-id="modal"] {
    all:initial;
    all:unset;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:1px solid purple;
    padding:.5em 1.5em;
    z-index:999999;
    background-color:rgba(255,255,255,.9);
    position:fixed;
    display: none;
}

.close {
    float: right;
    text-align: right;
    margin: .2em !important;
    padding: .2em;
    font-size: 40px;
    border:1px solid purple;
    background-color:rgba(255,255,255,.9);
    display: inline-block;
}

button {
    margin: .1em 0;
}

/* Horizontal format */

@media only screen and (orientation: landscape),  pagedjs-ignore { 
    [data-id="overlay"]{
        width:max-content;
        top:1em;
        left:1em;
        text-align:center;
        overflow: auto;
        display: block;
        position: fixed;
    }
    [data-id="modal"] {
        display: none;
    }
}


/* Vertical format */

@media only screen and (orientation: portrait),  pagedjs-ignore { 
    [data-id="overlay"] {
        display: flex;
        flex-wrap: wrap;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 40px;
        gap: 5px;
        position: fixed;
        line-height: 0.9;
        justify-content: space-around;
        box-sizing:border-box;
        margin: .5em;
        font-size: 40px;
    }

    [data-id="overlay"] > a, button {
        display: block;
        padding: .5em .5em;
    }

    [data-id="modal"] {
        display: none;
        font-size: 40px;
        width: 80%;
    }
    .close, button, [data-id="modal"], [data-id="overlay"]{
        border-width: 2px;
    }
}


@media only screen and (orientation: portrait) and (max-width: 800px),  pagedjs-ignore {
    [data-id="overlay"], [data-id="modal"] {
        font-size: 20px;
    }
}


@media only screen and (orientation: portrait) and (max-width: 1080px),  pagedjs-ignore {
    [data-id="overlay"], [data-id="modal"] {
        font-size: 30px;
    }
}

@media only screen and (orientation: portrait) and (max-width: 1400px),  pagedjs-ignore {
    [data-id="overlay"], [data-id="modal"] {
        font-size: 35px;
    }
}