html {
    color: black; /* #EE4443; */
}

h1.intro {
    margin: 5em 2em;
}

img {
    width: 100%;
    margin-bottom: .5em;
    /* mix-blend-mode: screen;
    background-color: #EE4443; */
}

h1 {
    margin: 0;
    font-family: 'Cooper Black', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

p {
    font-family: 'Times New Roman', serif;
    text-align: justify;
    margin: .5em 0;
}

p::after {
    content:" ";
}

#ono p {
    font-size: 17px;
    display: inline;
}

#hg p {
    font-size: 11px;
}

#hg img {
    width: 85%;
}

.pagedjs_margin-content {
    font-family: 'Cooper Black', serif;
}