@media print {

    /* Size and marin for all pages ------------- */
    @page {
        size: 105mm 148mm;
        margin-top: 6mm;
        margin-left: 6mm;
        margin-right: 6mm;
        margin-bottom: 9mm;
        @bottom-center { content: counter(page); }
        /* marks: crop; */
    }

    /* BLANK PAGES -------------------------------- */

    @page:blank {
        @bottom-left { content: none; }
        @bottom-center { content: none; }
        @bottom-right { content: none; }
    }



    /* COUVERTURE -------------------------------- */

    @page:first{
        margin: 10mm 10mm;
        /* background-color: rgb(20, 121, 253); */
        @bottom-center { content: none; }
        text-align: center;
    }
}

section {
    break-before: left;
}